absl-py==1.0.0
asgiref==3.4.1
astunparse==1.6.3
attrs==21.2.0
beautifulsoup4==4.10.0
boto==2.49.0
boto3==1.20.5
botocore==1.23.5
bs4==0.0.1
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
fastapi==0.65.2
filelock==3.4.0
flatbuffers==2.0
forte==0.1.2
funcsigs==1.0.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
h11==0.12.0
h5py==3.6.0
huggingface-hub==0.1.2
idna==3.3
importlib-metadata==4.8.2
jmespath==0.10.0
joblib==1.1.0
jsonpickle==1.4
jsonschema==3.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
libclang==12.0.0
Markdown==3.3.6
mypy-extensions==0.4.3
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.2
pandas==1.3.4
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.2
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0.1
scipy==1.7.2
semver==2.13.0
sentencepiece==0.1.96
six==1.16.0
sklearn==0.0
smart-open==1.8.4
smmap==5.0.0
sortedcontainers==2.1.0
soupsieve==2.3.1
starlette==0.14.2
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
texar-pytorch==0.1.3
threadpoolctl==3.0.0
tokenizers==0.10.3
torch==1.10.0
torchtext==0.11.0
tqdm==4.62.3
transformers==4.12.5
typed-ast==1.5.0
typed-astunparse==2.1.4
typing-inspect==0.7.1
typing_extensions==4.0.0
urllib3==1.26.7
uvicorn==0.14.0
version-query==1.1.0
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.6.0
